* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
}

.navbar {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: white;
  font-size: 28px;
}

span {
  color: #ea1538;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}

.Subscribe {
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

.Subscribe:hover {
  transform: scale(1.2);
  cursor: pointer;
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 20%;
  padding-right: 20%;
}

footer ul li {
  color: white;
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
}

footer ul li a {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
}

footer ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
}

h1 {
  color: #ea1538;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  top: 50%;
  left: 8%;
  transform: translateY(150%);
}

.p-contact {
  color: #ea1538;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  transform: translateY(150%);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 30px;
  border-radius: 30px;
  transition: 2.4s;
  font-size: 20px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  margin-bottom: 100px;
  opacity: 0.4;
}

.card {
  height: 365px;
  width: 1000px;
  padding: 20px 35px;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  margin-top: -1500px;
}

.box .card i {
  font-size: 70px;
}

.box .card .date-fly {
  font-size: 30px;
  margin-top: 45px;
}

.search {
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 100px;
}

.search:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar-toggle {
  display: none;
}

@media (max-width: 728px){
    .logo , span{
        width: 100%;
    }

    .Subscribe{
        display: none;
    }
    .navbar ul li a{
        display: none;
    }
    .navbar-toggle{
        color: rgb(255, 255, 255);
        display: flex;


        
    }
}